{% extends "base.html" %}

{% block title %}Comptes{% endblock %}

{% block maincontent %}
<h1>Occasions</h1>

{% for occasion in occasions %}
<h2>{{ occasion.nom }}{% if occasions|length > 1 %} (<a href="{% url 'comptes:occasion' occasion.slug %}">ne voir que celle-ci</a>){% endif %}</h2>
    <p>{{ occasion.description }}</p>
    <dl>
        <dd>Membres</dd><dp><ul>{% for membre in occasion.membres.all %}<li>{{ membre }}</li>{% endfor %}</ul></dp>
        <dd>Début</dd><dp>{{ occasion.debut }}</dp>
        <dd>Fin</dd><dp>{{ occasion.fin }}</dp>
    </dl>
    {% if occasion.clos %}<p>Clos</p>{% endif %}
    <h2>Soldes</h2>
    <table class="table table-striped"><tr><th>Membre</th><th class="right">Solde</th></tr>
    {% for solde, membre in occasion.solde_des_membres %}{% if solde != 0 %}
        <tr><td>{{ membre }}</td><td class="euro">{{ solde }}</td></tr>
    {% endif %}
    {% empty %}<tr><td colspan="2">Pas de membres pour l’instant…</td></tr>{% endfor %}
    </table>
    <h2>Dettes</h2>
    {% if request.user.is_staff %}<a href="{% url 'admin:comptes_dette_add' %}">En ajouter une</a>{% endif %}
    <table class="table table-striped"><tr><th>Créancier</th><th class="right">Montant</th><th>Débiteurs</th><th class="right">Moment</th><th>Description</th></tr>
    {% for dette in occasion.dette_set.all %}<tr>
        <td>{{ dette.creancier }}</td>
        <td class="euro">{{ dette.montant }}</td>
        <td>{{ dette.debiteurs.all|join:", " }}</td>
        <td class="right">{{ dette.moment }}</td>
        <td>{{ dette.description }}</td>
    </tr>{% empty %}<tr><td colspan="5">Pas de dettes pour l’instant…</td><tr>{% endfor %}
    </table>
    <h2>Remboursements</h2>
    {% if request.user.is_staff %}<a href="{% url 'admin:comptes_remboursement_add' %}">En ajouter un</a>{% endif %}
    <table class="table table-striped"><tr><th>Créditeur</th><th>Crédité</th><th class="right">Montant</th><th class="right">Moment</th></tr>
    {% for remboursement in occasion.remboursement_set.all %}<tr>
        <td>{{ remboursement.crediteur }}</td>
        <td>{{ remboursement.credite }}</td>
        <td class="euro">{{ remboursement.montant }}</td>
        <td class="right">{{ remboursement.moment }}</td>
    </tr>{% endfor %}
    </table>
{% endfor %}

{% endblock %}
