<html>
  <head></head>
  <body>
    <p>Hello :)</p>
    <p>
    {% if object.scribe %}{{ object.scribe }}{% else %}Un admin{% endif %} a ajouté la Dette suivante:
    </p>
    <dl>
      <dt>Créancier:</dt><dd>{{ object.creancier }}</dd>
      <dt>Montant total:</dt><dd>{{ object.montant|floatformat:2 }} €</dd>
      <dt>Débiteurs:</dt><dd>{{ object.debiteurs_list }}</dd>
      <dt>Date:</dt><dd>Le {{ object.moment }}</dd>
      <dt>Description:</dt><dd>{{ object.description }}</dd>
    </dl>
    <p>Cette dette augmente donc le solde de {{ object.creancier }} de {{ object.montant|floatformat:2 }} €,
    puis diminue celui de {{ object.debiteurs_list }} de {{ object.part|floatformat:2 }} €.</p>
    <p>Plus d’infos <a href="{{ object.get_full_url }}">directement sur le site</a></p>
    <p>@+ !</p>
    <footer>Cet email a été envoyé automatiquement. Il est inutile d’y répondre.</footer>
  </body>
</html>
