<html>
  <head></head>
  <body>
    <p>Hello :)</p>
    <p>
    {% if object.scribe %}{{ object.scribe }}{% else %}Un admin{% endif %} a ajouté le Remboursement suivant:
    </p>
    <dl>
      <dt>Créditeur:</dt><dd>{{ object.crediteur }}</dd>
      <dt>Montant:</dt><dd>{{ object.montant|floatformat:2 }} €</dd>
      <dt>Crédité:</dt><dd>{{ object.credite }}</dd>
      <dt>Date:</dt><dd>{{ object.moment }}</dd>
    </dl>
    <p>Plus d’infos <a href="{{ object.get_full_url }}">directement sur le site</a></p>
    <p>@+ !</p>
    <footer>Cet email a été envoyé automatiquement. Il est inutile d’y répondre.</footer>
  </body>
</html>
