[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ndh = "*"
dmdm = "*"

[dev-packages]
"flake8" = "*"
python-coveralls = "*"
safety = "*"
yapf = "*"
mypy = "*"
setuptools-scm = "*"
pydocstyle = "*"
pre-commit = "*"
django-stubs = "*"
